<%= form_for(@auto_number) do |f| %>
  <%= render 'form_errors', errors: @auto_number.errors %>

  <table class="table table-striped">
    <tbody>
    <tr>
      <th><%= f.label :entry_date %></th>
      <td><%= f.date_select :entry_date %></td>
    </tr>
    <tr>
      <th><%= f.label :name_id %></th>
      <td><%= collection_select(:auto_number, :name_id, Name.all, :id, :initials) %></td>
    </tr>
    <tr>
      <th><%= f.label :repository_id %></th>
      <td><%= collection_select(:auto_number, :repository_id, Repository.all, :id, :name) %></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= f.submit class: 'btn btn-success' %>
        <%= link_to 'Cancel', @auto_number, class: 'btn btn-danger' %>
        <%= link_to 'List All Autonumbers', auto_numbers_path, class: 'btn btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
