<%= form_for(@auto_number) do |f| %>
  <% if @auto_number.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@auto_number.errors.count, "error") %> prohibited this auto_number from being saved:</h2>
      </div>
      <div class="panel-body">

        <ul>
          <% @auto_number.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <table class="table table-striped">
    <tbody>
    <tr>
      <th><%= f.label :entry_date %></th>
      <td><%= f.date_select :entry_date %></td>
    </tr>
    <tr>
      <th><%= f.label :name_id %></th>
      <td><%= collection_select(:auto_number, :name_id, Name.all, :id, :initials) %></td>
    </tr>
    <tr>
      <th><%= f.label :repository_id %></th>
      <td><%= collection_select(:auto_number, :repository_id, Repository.all, :id, :name) %></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= f.submit class: 'btn btn-success' %>
        <%= link_to 'Cancel', @auto_number, class: 'btn btn-danger' %>
        <%= link_to 'List All Auto Numbers', auto_numbers_path, class: 'btn btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
