<%= form_for(@repository) do |f| %>
  <% if @repository.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>
      </div>
      <div class="panel-body">

        <ul>
          <% @repository.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <table class="table table-striped">
    <tbody>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= f.submit class: 'btn btn-success' %>
        <%= link_to 'Cancel', @repository, class: 'btn btn-danger' %>
        <%= link_to 'List All Repositories', repositories_path, class: 'btn btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
