<%= form_for(@user) do |f| %>
  <%= render 'form_errors', errors: @user.errors %>

  <table class="table table-striped">
    <tbody>
    <tr>
      <th><%= f.label :cas_directory_id, 'CAS Directory ID' %></th>
      <td><%= f.text_field :cas_directory_id %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= f.submit class: 'btn btn-success' %>
        <%= link_to 'Cancel', @user, class: 'btn btn-danger' %>
        <%= link_to 'List All Users', users_path, class: 'btn btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
